<li>
  <!--<%#= gravatar_for user, size: 50 %>-->
  <%= link_to user.name, user %></br>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to user, method: :delete,
                                  data: { confirm: "本当によろしいですか?" } do %>
      <%= button_tag "削除", class: "btn btn-primary" %>                        
      <% end %>
      </br>
      <%= render 'users/accoridon', {id: user.id, user: user} %>
  <% end %>
</li>  