<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user, size: 50 %>
        <%= @user.name %>
      </h1>
    </section> 
　　<div><%= link_to "勤怠表", time_card_path(@user) %></div>
  </aside>
</div>
